<!-- <p class="enConstruccion">La página está en proceso de mejora, disculpe las molestias</p> -->

<main class="page__main">
	<section class="principal">
		<div class="finder">
			<h1 class="finder__title">Series Finder</h1>
			<input class="finder__name js-inputName" type="text" placeholder="Serie name" />
			<input class="finder__btn js-button" type="submit" value="Search" />
			<p class="finder__results js-results"></p>
		</div>
		<aside class="favorites">
			<h2>Favorites</h2>
			<div class="js-btnReset"></div>
			<ul class="js-favs"></ul>
		</aside>
	</section>
</main>