.page__header {
	display: block;
	justify-content: space-evenly;
	background-color: black;
	width: 100vw;
}
.menu {
	color: white;

	&__list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		padding: 15px;

		&--item {
			margin-right: 20px;
		}
	}
}
