body {
	height: 100vh;
	background-color: grey;
	font-family: $font-main;
}

.page__main {
	padding: 20px;
}

.principal {
	display: flex;
}

.finder {
	width: 75vw;
	text-align: center;

	&__name {
		width: 200px;
		height: 25px;
		border-style: none;
		margin-right: 10px;
		align-content: flex-end;
	}
	&__results {
		padding-top: 20px;
	}

	&__btn {
		border-style: none;
		border-radius: 5px;
		padding: 4px;
		width: 50px;
		height: 25px;
		font-size: 12px;
		color: white;
		background-color: black;
	}
}
.favorites {
	border: 2px solid black;
	padding: 15px;
	height: 75vh;
	order: -1;
}

.search__button--inactive {
	background-color: #d5d5d5;
	box-shadow: none;
}
.serie {
	background-color: lightyellow;
	border: 1px solid black;
	margin: 8px 20px 8px 20px;
}