body {
	height: 100vh;
	background-color: grey;
	font-family: $font-main;
}

.page__main {
	padding: 20px;
}

.principal {
	display: flex;
	justify-content: center;
}

.finder {
	text-align: center;

	@media all and (min-width: 768px) {
		padding-left: 50px;
		width: 400px;
	}

	&__name {
		width: 180px;
		height: 25px;
		border-style: none;
		margin: 10px;
		align-content: flex-end;
		@media all and (min-width: 768px) {
			width: 200px;
		}
	}
	&__results {
		padding-top: 20px;
		@media all and (min-width: 768px) {
			padding-left: 50px;
		}
	}

	&__btn {
		border-style: none;
		border-radius: 5px;
		padding: 4px;
		width: 50px;
		height: 25px;
		font-size: 12px;
		color: white;
		background-color: black;
	}
}
.favorites {
	border: 2px solid black;
	padding: 10px;
	order: -1;
	@media all and (min-width: 768px) {
		width: 250px;
	}
}

.serie {
	background-color: rgba(206, 201, 201, 0.959);
	border: 1px solid black;
	margin: 8px 20px 8px 20px;
	width: 210px;
	@media all and (min-width: 768px) {
		width: 250px;
		margin: 10px 0px 10px 0px;
	}
}

.serieFav {
	width: 110px;
	margin: 8px 2px 8px 2px;
}
.list {
	list-style-type: none;
}
.color {
	background-color: rgba(141, 9, 141, 0.829);
}

.hidden {
	display: none;
}
